<%inherit file="/base.html"/>
<style>
    ::-webkit-scrollbar {
        display: none;
    }
</style>
<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-layout1-header">
        <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
            <div class="nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bk-example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="${SITE_URL}home/${request.user}">
                        <img src="${STATIC_URL}daohang/test_files/logo.png" alt="" class="logo"> </a>
                </div>
                <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">
                    <ul class="nav navbar-nav ">
                        <!--<li :class="{'bk-cur':item.active}"  v-for="item in renderData.items">-->
                        <li class="bk-cur"><a href="javascript:void(0);"><span>详情</span></a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li style="position: relative;right: 60px;"><a href="${SITE_URL}mg/1"><span>返回上一级</span></a>
                        </li>
                        <li style="position: relative;right:60px;">
                            <a href="javascript:;">
                                <span>用户:${request.user}</span>
                            </a>
                        </li>

                        <li>
                            <span style="position: relative;top: 5px;right: 70px;"><img
                                    src="${STATIC_URL}uploads/${request.session['icon']}" width="40px" height="40px"
                                    class="img-circle"></span>
                        </li>

                        <li style="position: relative;right: 50px;">
                            <a href="${SITE_URL}psms/logout">
                                <span>登出</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>

    <div class="king-page-topbar ">
        <h3 class="king-topbar-title mb0">
            <span></span>
        </h3>
        <ul class="breadcrumb king-breadcrumb pl0 bg-transparent">
            &nbsp;&nbsp;&nbsp;
            当前位置:
            <li>
                <a href="${SITE_URL}home/${request.user}">首页</a>>
                <a href="${SITE_URL}mg/1">mg</a>>
                <a href="${SITE_URL}mg/xq">详情</a>
            </li>
        </ul>
    </div>

    <div class="king-layout1-main clearfix">
        <!-- sidebar start -->
        <div class="king-layout1-sidebar" style="width:216px;background-color: #d0d9df;height: 650px;">
            <nav style="height:100%;" class="   f14">
                <div class="king-vertical-nav4">
                    <div class="sidebar-inner">
                        <ul class="navi">
                            <li class="has_submenu current open active">
                                <a href="javascript:void(0);"> <i class="fa fa-gear "> </i>
                                    <span>图形展示</span>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    <li data-stopPropagation="true"><a href="${SITE_URL}mg/sftxzs/1" target="menuFrame">上发图形展示<i>
                                            class="fa fa-chevron-right pull-right"></i></a></li>
                                    <li><a href="${SITE_URL}mg/xftxzs/3" target="menuFrame">下发图形展示<i>
                                            class="fa fa-chevron-right pull-right"></i></a></li>
                                    <li><a href="${SITE_URL}mg/cuodtxzs/4" target="menuFrame">错单图形展示<i>
                                            class="fa fa-chevron-right pull-right"></i></a></li>
                                    <li><a href="${SITE_URL}mg/sftxzs/2" target="menuFrame">上发费用图形展示<i>
                                            class="fa fa-chevron-right pull-right"></i></a></li>

                                </ul>
                            </li>
                            <li class="has_submenu current open">
                                <a href="javascript:void(0);"> <i class="fa fa-wrench "> </i>
                                    <span>上发话单全量</span>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    <li><a href="${SITE_URL}mg/sfquanl/zonggongsi/1" target="menuFrame">总公司</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/yinyue/1" target="menuFrame">音乐</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/shumei/1" target="menuFrame">数媒</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/shixun/1" target="menuFrame">视讯</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/sfquanl/huyu/1" target="menuFrame">互娱</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/dongman/1" target="menuFrame">动漫</a>
                                        <a href="${SITE_URL}mg/sfquanl/sum/1" target="menuFrame">sum</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu current open">
                                <a href="javascript:void(0);"> <i class="fa fa-tasks "> </i>
                                    <span>下发全量</span>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_100/3" target="menuFrame">北京</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_200/3" target="menuFrame">广东</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_210/3" target="menuFrame">上海</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_220/3" target="menuFrame">天津</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_230/3" target="menuFrame">重庆</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_240/3" target="menuFrame">辽宁</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_250/3" target="menuFrame">江苏</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_270/3" target="menuFrame">湖北</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_280/3" target="menuFrame">四川</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_290/3" target="menuFrame">陕西</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_311/3" target="menuFrame">河北</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_351/3" target="menuFrame">山西</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_371/3" target="menuFrame">河南</a>
                                        <a href="${SITE_URL}mg/quanl/A_431/3" target="menuFrame">吉林</a>
                                        <a href="${SITE_URL}mg/quanl/A_451/3" target="menuFrame">黑龙江</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_471/3" target="menuFrame">内蒙</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_531/3" target="menuFrame">山东</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_551/3" target="menuFrame">安徽</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_571/3" target="menuFrame">浙江</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_591/3" target="menuFrame">福建</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_731/3" target="menuFrame">湖南</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_771/3" target="menuFrame">广西</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_791/3" target="menuFrame">江西</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_851/3" target="menuFrame">贵州</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_871/3" target="menuFrame">云南</a>&nbsp;
                                    </li>

                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_891/3" target="menuFrame">西藏</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_898/3" target="menuFrame">海南</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_931/3" target="menuFrame">甘肃</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_951/3" target="menuFrame">宁夏</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/A_971/3" target="menuFrame">青海</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/quanl/A_991/3" target="menuFrame">新疆</a>&nbsp;
                                        <a href="${SITE_URL}mg/quanl/sum/3" target="menuFrame">sum</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has_submenu current open">
                                <a href="javascript:void(0);"> <i class="fa fa-wrench "> </i>
                                    <span>上发费用</span>
                                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" style="display: none;">
                                    <li><a href="${SITE_URL}mg/sfquanl/C010FEE/2" target="menuFrame">总公司</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/C011FEE/2" target="menuFrame">音乐</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/C012FEE/2" target="menuFrame">数媒</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/C013FEE/2" target="menuFrame">视讯</a>&nbsp;
                                    </li>
                                    <li>
                                        <a href="${SITE_URL}mg/sfquanl/C014FEE/2" target="menuFrame">互娱</a>&nbsp;
                                        <a href="${SITE_URL}mg/sfquanl/C015FEE/2" target="menuFrame">动漫</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has_submenu current open">
                                    <li><a href="${SITE_URL}mg/cuoql/4" target="menuFrame"><span style="position: relative;left: 15px;">错误全量</span><i class="fa fa-chevron-right pull-right"></i></a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 216px;">
                <div class="panel king-panel1 mb0  ">
                    <div class="panel-heading king-panel-head1 king-panel-top1">
                        <div style="width: 1200px;height: 600px;">
                            <iframe name="menuFrame" scrolling="auto" width="1200px" height="600px"
                                    src="${SITE_URL}mg/sfquanl/zonggongsi/1" style="position: relative;right: 15px;bottom: 15px;"></iframe>
                        </div>
                    </div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
        <!-- content end -->
    </div>
</div>
<script>
    $(function () {
        var span = $('.navi li a span');
        var li = $('.navi li');
        span.each(function () {
            $(this).click(function () {
                if (!$(this).parent().parent().hasClass('c-open')) {
                    $(this).parent().parent().find('ul').slideDown(350);
                    $(this).parent().parent().addClass('c-open');
                }else {
                    $(this).parent().parent().find('ul').slideUp(350);
                $(this).parent().parent().removeClass('c-open');
                }

            })
        });


    })
</script>
</body>

