<!DOCTYPE html>
<html>
    <%block name='head'>
    	<meta charset="UTF-8">
	    <title>亚信科技</title>
    	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        	<link rel="stylesheet" href="${STATIC_URL}new_temp/css/bootstrap.min.css">
	        <link rel="stylesheet" href="${STATIC_URL}new_temp/css/style.css">


    <nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="${SITE_URL}home/${request.user}" class="navbar-brand logo"><img src="${STATIC_URL}new_temp/img/12345678.png" alt="亚信科技"></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav"  style="position: relative;left: 50px;">
                <li style="position: relative;right: 40px;">
                     <a href="#">亚信科技</a>
                </li>
				<%block name='zhong'>
                 </%block>

			</ul>
            <ul class="nav navbar-nav navbar-right" style="position: relative;left: 20px;">
				    <li style="position: relative;right: 20px;">
                                <a href="javascript:;">
                                    <span id="get_user"> </span>
                                </a>
                            </li>
                            <li style="position: relative;right: 30px;">
                                <span style="position: relative;top: 5px;"><img src="${STATIC_URL}uploads/${request.session['icon']}" width="40px" height="40px" class="img-circle"></span>
                            </li>
                            <li>
                                <a href="${SITE_URL}psms/logout">
                                    <span>登出</span>
                                </a>
                            </li>
			</ul>
		</div>
	</div>
</nav>


    </%block>

<body onload="one()">
    <%block name='content'>

    </%block>
</body>
        <%block name='foot'>
        <footer id="footer">
	        <div class="container">
		        <p>企业培训 | 合作事宜 | 版权投诉</p>
		        <p>京ICP 备12345678. © 2019-2026 亚信科技. Powered by Bootstrap.</p>
	        </div>
        </footer>

                <!-- 这个是全局配置，如果需要在js中使用app_id和site_url,则这个javascript片段一定要保留 -->
        <script type="text/javascript">
	    	  var app_id = "${APP_ID}";
			    var site_url = "${SITE_URL}";	  // app的url前缀,在ajax调用的时候，应该加上该前缀
			    var static_url = "${STATIC_URL}"; // 静态资源前缀

	      </script>

        <script src="${STATIC_URL}new_temp/js/jquery.min.js"></script>
        <script src="${STATIC_URL}new_temp/js/bootstrap.min.js"></script>
      <script type="text/javascript"></script>
    <script>
        //当文档加载执行,不需要等到页面完全加载就执行。并且可以存在多个。$(function(){ })是$(document).ready(function()的简写
        $(function(){
            var li = $('.navbar-nav li');
            //遍历执行this的所有内容
            li.each(function(){
                $(this).click(function(){
                    //如果this包含类opens 且又 ul 和 li标签
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        //ul上划，速度时250
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        //所有li标签同胞元素删除类opens,就是点击这个下拉框出来，另外的下拉框就缩回去。
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });

            <!-- 松开鼠标触发事件,如果点击松开时是e，判断，这个e是不是_cond目标对象，或者目标对象是否包含e，如果都不是，那么执行方法内的功能。-->
            $(document).mouseup(function(e){
            var _con = $('.navbar-nav li');
             if(!_con.is(e.target) && _con.has(e.target).length === 0){
                li.removeClass('opens').find('ul').slideUp();

  }
});

        });



        function one() {
            var name = document.getElementById('get_user').innerHTML;
            $.getJSON('${SITE_URL}ajax_getuser/',{'name': name} ,function (data) {

                document.getElementById('get_user').innerHTML = data.user
            })
        }

    </script>


        <%block name='jiaoben'>
 </%block>
        </%block>


